[*.cs]

# S6966: Awaitable method should be used
dotnet_diagnostic.S6966.severity = none

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none
