[*.cs]

# S6966: Awaitable method should be used
dotnet_diagnostic.S6966.severity = none

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
